#!/usr/bin/perl
#Configuration file for printengine.pl to be called by SLAcer.js and other printer services
#Copyright 2016 Robert Koeppl, Fablab Leoben robert.koeppl@fablab-leoben.at
#http://www.fablab-leoben.at
#http://www.github.com/fablab-leoben
#released under the MIT License
#this piece of software is provided with absolutely no warranty
#use at your own risk
log_file = "../log/printengine.log";
logging_enabled="TRUE";
controllerboard="BBB";
steps_per_mm=100; #steps needed to move the Z-Axis 1mm
projector_type="Lightcrafter4500"; #default Light engine
projector_usb_device="";
endstop_Z_max=TRUE;
endstop_Z_max_type="NC";#NO="Normally Open", NC="Normally Closed". NC is preferred
endstop_Z_min=TRUE;
endstop_Z_min_type="NC";#NO="Normally Open", NC="Normally Closed". NC is preferred
wiper="FALSE";
door_contact="true"; Defines if there is a door contact to determine if the enclosure is closed
X_pixels="1192";
Y_pixels="948";
Z_Autocal="True"; #Automatically determine Z-travel by triggering both endstops and dividing the Distance
testrun_capable="true"; Capability to run testruns with wavelengthe that do not trigger polymerisation
testrun_color="RED"; #Color channel used for test run
prodrun_color="BLUE"; #Color Channel used for production run
vat_heatable="false";
vat_target_temperature="";#Vat temperature in Celsius
check_vat_presence="false";
#board specific configuration for Beaglebone Black
virtual_terminal=1;
display_software="fbi";
display_device="/dev/fb0";
#PIN asignment
pin_zmin="";
pin_zmax="";
pin_door="";
pin_step_Z="";
pin_enable_Z="";
pin_direction_Z="";
pin_trigger_pre="";
pin_trigger_post="";
pin_enable_wiper="";
pin_dir_wiper="";
pin_step_wiper="";
pin_vat_heater="";
pin_vat_temperature="";
pin_vat_presence="";
#end of BBB specifics